/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background-color: #222;
    color: #fff;
    scroll-behavior: smooth;
    height: 100vh;
    margin: 0;
    
    /* Define the x and y positions for dynamic animation */
    --x: calc(var(--posX, 100) * 3px);
    --y: calc(var(--posY, 100) * 1px);

    /* Define the background with gradients */
    background-image: 
        linear-gradient(115deg, rgb(211 255 215), rgb(0 0 0)), 
        radial-gradient(90% 100% at calc(50% + var(--x)) calc(0% + var(--y)), rgb(200 200 200), rgb(22 0 45)), 
        radial-gradient(100% 100% at calc(80% - var(--x)) calc(0% - var(--y)), rgb(250 255 0), rgb(36 0 0)), 
        radial-gradient(150% 210% at calc(100% + var(--x)) calc(0% + var(--y)), rgb(20 175 125), rgb(0 10 255)), 
        radial-gradient(100% 100% at calc(100% - var(--x)) calc(30% - var(--y)), rgb(255 77 0), rgb(0 200 255)), 
        linear-gradient(60deg, rgb(255 0 0), rgb(120 86 255));
    
    /* Make the background cover the entire body */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: overlay, overlay, difference, difference, difference, normal;
}

a {
    text-decoration: none;
    color: #00c3ff;
    transition: color 1s ease;    
    mix-blend-mode: overlay;
}

a:hover {
    color: #ffffff;
    mix-blend-mode: normal;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

nav ul {
    list-style: none;
    display: inline-block;
    justify-content: center;
    margin-top: 2rem;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 20px;
    display: inline-block;
}

nav ul li a {
    font-weight: 600;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50px;
    display: inline-block;
}

section {
    padding: 3rem 0;
    width: 85%;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #ffffff;
}

#about p {
    text-align: center;
    max-width: 700px;
    margin: auto;
    margin-bottom: 2rem;
    font-size: 1.1rem;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-card {
    background-color: #000000;
    border: 1px solid #222;
    margin: 1rem;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 500px;
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-card a:hover {
    text-decoration: underline;
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-card h3 {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    color: #00c3ff;
}

.project-card p {
    padding: 1rem;
    font-size: 1rem;
}

.project-card ul {
    padding: 20px;
}

#contact {
    text-align: center;
}

#contact p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

#contact a {
    padding: 10px 30px;
    border: 1px solid #00c3ff;
    border-radius: 50px;
    display: inline-block;
    font-weight: 600;
}

footer {
    text-align: center;
    padding: 2rem 0;
    background-color: #000000;
    border: 1px solid #222;
    color: #bbb;
}
